.lookup-spinner{
	z-index: 5;
float: left;
position: absolute;
margin-left: 33%;
}

.purple-loading-spinner {
	background-image: linear-gradient(to bottom, blue, purple, red);
	border: 1rem dashed black;
	border-bottom: 1rem solid blue;
	border-top: 1rem solid red;
	border-radius:100%;
	
	height : 15rem;
	width : 15rem;
	animation: spin 3s linear infinite;
}
@keyframes spin{
	0% {transform:roatete(0deg)}
	100% {transform: rotate(360deg)}
}
